body{
    border: rgb(221, 221, 221) 6px solid ;
    width: 900px;
    align-self: center;
    border-radius: 10px;
}
h1{
    background-image: url(/parquenatural\(Ejercicio10\)/imagenes/panoramica.jpg);
    padding-top:210px;
    background-repeat: no-repeat;
    background-position: center;
    letter-spacing: 0.14cm;
    color : rgb(100,155,61);
    text-align: center;
    margin: 0;
}
h1 span{
    color: rgb(194, 131, 54);
}
h2{
    color: rgb(130,177 ,6);
    border-bottom: rgb(234, 241, 223) 2px solid;
}
#maincont{
    padding: 15px;
}
#container{
    border: rgb(230, 230, 230) 2px solid;
    padding: 15px;
}
h3{
    color:rgb(217, 164, 89)
}
#menu{
    width: 120px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu li{
    text-align: center;
    list-style-type: none;
    margin-bottom : 5px;
    background-image: linear-gradient(white,rgb(203, 231, 131));
    line-height: 25px;
    
}
#menu li.btnselected{
    background-image: linear-gradient(white, rgb(229, 205, 178));
}
#menu li.btnselected:hover{
    background-color: rgb(233, 225, 216);
}
#menu li:hover{
    background-color: rgb(147, 228, 154);
}

#container{
    display: block;
    margin:20px 20px 10px 140px;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
#menu{
    float: left; 
}
footer{
    text-align: center;
    color:lightgray;
    padding-bottom: 10px;
}
footer a{
    color:lightgray;
}