body{
    border: rgb(221, 221, 221) 6px solid ;
}
h1{
    color :rgb(100,155,61);
    text-align: center;
}
h1 span{
    color: rgb(194, 131, 54);
}
h2{
    color: rgb(130,177 ,6);
    border-bottom: rgb(234, 241, 223) 2px solid;
}
#maincont{
    padding: 15px;
}
#container{
    border: rgb(230, 230, 230) 2px solid;
    padding: 15px;
}
h3{
    color:rgb(217, 164, 89)
}